<div class="ui special cards">
    <div class="card">

        <div class="content">
                <div class="ui grid">
                    <div class="three column row">
                        <div class="column">
                            <i class="heart outline icon"></i><span id="cardHPId">10</span> 
                        </div>
                        <div class="column">
                                <h5>{{family_name}}</h5>
                        </div>
                        <div class="column">
                            <span id="energyId">{{energy}}</span> <i class="lightning icon"></i>
                        </div>
                    </div>
                </div>
        </div>
        <div class="image imageCard">

            <div class="blurring dimmable image">
                <div class="ui inverted dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui primary button">Add Friend</div>
                        </div>
                    </div>
                </div>
                <div class="ui fluid image">
                    <a class="ui left corner label">
                        {{name}}
                      </a>
                    <img id="cardImgId" class="ui centered image" src="{{img_src}}">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="ui form tiny">
                <div class="field">
                    <label id="cardNameId"></label>
                    <textarea id="cardDescriptionId" class="overflowHiden" readonly="" rows="2">{{description}}</textarea>
                </div>
            </div>
        </div>
        <div class="content">
            <i class="heart outline icon"></i><span id="cardHPId"> HP {{hp}}</span> 
            <div class="right floated ">
                    <span id="cardEnergyId">Energy {{energy}}</span>
                <i class="lightning icon"></i>
                 
            </div>
        </div>
        <div class="content">
            <span class="right floated">
                    <span id="cardAttackId"> Attack {{attack}}</span> 
                <i class=" wizard icon"></i>
            </span>
            <i class="protect icon"></i>
            <span id="cardDefenceId">Defense {{defense}}</span> 
        </div>
        <div class="ui bottom attached button">
            <i class="money icon"></i>
            Actual Value <span id="cardPriceId"> {{price}}$</span>
        </div>

    </div>
</div>
         
